@import "../../../styles/dimensions";

$image-file-height: 30vh;

.note-files {
  display: flex;
  overflow-x: auto;
  position: relative;
  .zoomed-picture {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffad;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: auto;
    > img {
      border: 1px solid black;
      cursor: default;
    }
    .icon {
      position: fixed;
      top: 5px;
      right: 5px;
      background: white;
    }

  }

  &.unique {
    .note-image {
      > img {
        height: auto;
        width: 100%;
      }
    }
  }
  .note-image {
    > img {
      height: $image-file-height;
      width: auto;
      cursor: pointer;
    }
    margin-right: $gutter-size;
    position: relative;
    > img {
      height: $image-file-height;
    }
    &.placeholder {
      line-height: $image-file-height;
    }
  }
}
