@import "dimensions.scss";

.MuiButtonGroup-root.button-group {
  flex-wrap: wrap;
}

.MuiButton-root.button-action {
  background-color: #006064;
  color: white;
}

.loading-button {
  color: white !important;
}

.button-link a {
  text-decoration: none;
}


.fab {
  position: fixed !important;
  bottom: $gutter-size;
  right: $gutter-size;
}
