@import "../../styles/dimensions";
@import "../../styles/texts";
.videos-container {
  > .title {
    font-size: $minor-title-font-size;
  }
  video {
    width: 100vw;
    position: relative;
    left: -24px;
    height: auto;
    max-height: 100vh;
  }
  .video-controls-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
